<div class="landing-page apply-now">
  <section class="lp-vertical-tabs">
    <div class="container">
      <div class="row">
        {{ drupal_block('student_status_block') }}
        {{ content.vertical_tab_region }}
        {{ content.vertical_tab_region_body }}
      </div>
    </div>
  </section>

  <section class="career-connect">
    <div class="container">
      <div class="row">
        {{ content.help_info }}
      </div>
    </div>
  </section>

  <section id="dc-quotes-slideshow" class="lp-quote-region">
    <div class="container-fluid">
      <div class="row">
        {{ content.quote_region }}
      </div>
    </div>
  </section>
</div>
