<div class="landing-page">

  <section class="lp-masthead">
    <div class="container">
      <div class="row">
        <div class="cta flex-view">
            {{ content.masthead }}
        </div>
      </div>
    </div>
  </section>

  <section class="employee-information">
    <div class="container">
      <div class="row">
          {{ content.information }}
      </div>
    </div>
  </section>

  <section class="news-header">
    <div class="container">
      <div class="row">
        {{ content.news_header }}
      </div>
    </div>
  </section>

  <section class="news-grid">
    <div class="container">
      <div class="row">
          {{ content.news }}
      </div>
    </div>
  </section>

  <section class="events-header">
    <div class="container">
      <div class="row">
          {{ content.events_header }}
      </div>
    </div>
  </section>

  <section class="events-grid">
    <div class="container">
      <div class="row">
          {{ content.events }}
      </div>
    </div>
  </section>

  <section class="social-media">
    <div class="container">
      <div class="row">
          {{ content.social }}
      </div>
    </div>
  </section>

</div>