<div class="container">
  <div class="row">
    <div class="cta flex-view">
        {{ content.masthead }}

    </div>
  </div>
  <div class="row">
      {{ content.information }}
  </div>
  <div class="row">
      {{ content.policies }}
  </div>
  <div class="row">
      {{ content.resources }}
  </div>
  <div class="row">
      {{ content.blog }}
  </div>
  <div class="row">
      {{ content.events }}
  </div>
</div>