<div class="landing-page students">

  <section class="lp-masthead">
    <div class="container">
      <div class="row">
        <div class="cta flex-view">
            {{ content.masthead }}
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
          {{ content.information }}
      </div>
    </div>
  </section>

  <section class="lp-events">
    <div class="container-fluid">
      <div class="row">
          {{ content.events }}
      </div>
    </div>
  </section>

  <section class="lp-news-header">
    <div class="container">
      <div class="row">
        {{ content.news_header }}
      </div>
    </div>
  </section>

  <section class="lp-news-grid">
    <div class="container-fluid">
      <div class="row">
          {{ content.news }}
      </div>
    </div>
  </section>

  <section class="lp-policies">
    <div class="container-fluid">
      <div class="row">
        {{  content.policies_procedures }}
      </div>
    </div>
  </section>

</div>
