<div id="columns-1" class="container-wrapper">
  <div class="columns-1--bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        {{ content.columns_1_left }}
      </div>
      <div class="col-sm-6">
        {{ content.columns_1_right }}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {{ content.full_1 }}
  </div>
</div>
<div id="columns-2" class="container-wrapper">
  {{ content.columns_2 }}
</div>
<div class="container">
  <div class="row">
    {{ content.full_2 }}
  </div>
</div>
