<div class="container-wrapper">
  <div class="container">
    <div class="row">
      {{ content.full_1 }}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {{ content.fixed_1 }}
  </div>
</div>
<div class="container-wrapper">
  <div class="container">
    <div class="row">
      {{ content.full_2 }}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {{ content.fixed_2 }}
  </div>
</div>
<div class="container-wrapper">
  <div class="container">
    <div class="row">
      {{ content.full_3 }}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {{ content.fixed_3 }}
  </div>
</div>